body * {
  font-family: 'Roboto', sans-serif;
  color: ##353535;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

a {
  color: #4581b7;
}

/* dark blue*/
/*#004371*/

/* gray brown*/
/*#353535*/

/* light gray brown*/
/*#707077*/


