body * {
  font-family: 'Roboto', sans-serif;
  color: ##353535;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

a {
  color: #4581b7;
}

/* dark blue*/
/*#004371*/

/* gray brown*/
/*#353535*/

/* light gray brown*/
/*#707077*/

p {
  font-size: 14px;
  margin: 10px;
}

input {
  background: #f2f2f2;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;
}

.submit-button {
  background: #004371;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
}

.submit-button:hover {
  background: #0062a6;
}

.form-container {
  max-width: 600px;
  background: #ffffff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
