{% extends "base.html" %}

{% block content %}

<div>
  <h1>Addresses:</h1>
  <a href="/address_book/new">Add A New Address</a>

    {% for address in addresses %}
    <div class="address-card" id="address-{{ address.id }}">
      <a href="/address_book/edit/{{ address.id }}" class="card-button edit-button"><i class="far fa-edit"></i></a>
      <p>{{address.first_name}} {{ address.last_name }}</p>
      <p>{{address.address}} {{ address.city }}, {{ address.state }}</p>
      <p>{{ address.zip_code }}</p>
      <button type="button" class="card-button delete-button" data-id="{{ address.id }}" onclick="deleteAddress(event)"><i class="fas fa-trash-alt delete-btn"></i></button>
    </div>
    {% endfor %}
</div>

<script>
  const deleteAddress = async e => {
    e.preventDefault();
    const { target } = e;
    const address_id = target.getAttribute('data-id');

    if (window.confirm("Delete This Address?")) { 
      try {
        const response = await fetch(`api/address_book/edit/${address_id}`, {
          method: 'DELETE',
          headers: {'Content-Type': 'application/json'},
        });

        const result = await response.json();

        if (result.success === true) {
          const addressElement = document.querySelector(`#address-${address_id}`);
          addressElement.remove();
        }
      } catch (err) {
        console.log(err);
      }
    }
  }
</script>

{% endblock %}


